<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<script src="jquery-3.3.1.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
</head>
<body>

<div class="col-md-4">
		<canvas id="myChartbar" width="1200" height="1200"></canvas>
</div>

<script>

new Chart(document.getElementById("myChartbar"), {
    type: 'line',
    data: {
      labels: {{results.labels}},
      datasets: [
        {
          label: "Scores (out of 20)",
          backgroundColor: "#3e95cd",
          data: {{results.results}}
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Students score in Test'
      }
      
    }
});
</script>
</body>
</html>